.father {
  display: flex;
  justify-content: space-around;
  height: 100vh;
}

.child {
  background-color: blue;
  width: 400px;
  height: 400px;
  color: white;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.child:nth-child(2) {
  background-color: black;
  flex-shrink: 2;
}
